In [35]:
import pandas as pd
from keras.models import Sequential
from keras.layers import LSTM, Dense, Activation, ThresholdedReLU, MaxPooling2D, Embedding, Dropout
from keras.optimizers import Adam, SGD, RMSprop
from keras import backend as K
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [14]:
df=pd.read_excel("./data/Data_Novartis_Datathon-Participants.xlsx",skiprows=3)

In [15]:
df.head(10)

,Cluster,Brand Group,Country,Function,Jan 2012,Feb 2012,Mar 2012,Unnamed: 7,Apr 2012,May 2012,...,Unnamed: 113,Jul 2018,Aug 2018,Sep 2018,Unnamed: 117,Oct 2018,Nov 2018,Dec 2018,Unnamed: 121,Unnamed: 122
0,Cluster 3,Brand Group 12,Country 19,Sales 1,1861.328751,1995.945017,1998.533792,5855.807560,2019.243986,2425.681558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cluster 3,Brand Group 12,Country 19,Sales 2,1316.247027,1450.223283,1440.837462,4207.307772,1564.066421,2014.132904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cluster 3,Brand Group 12,Country 19,Investment 1,-216.162658,-238.167239,-217.457045,-671.786942,-214.868270,-390.904926,...,-431.807560,-146.395189,-145.100802,-171.894616,-463.390607,-136.946163,-189.974966,-156.680908,-483.602037,-1816.303068
3,Cluster 3,Brand Group 12,Country 19,Investment 2,-107.434135,-14.238259,-62.130584,-183.802978,-91.901489,-199.335624,...,-155.455899,-35.595647,-64.460481,-111.705613,-211.761741,-29.253150,-133.434491,-88.018327,-250.705968,-696.492909
4,Cluster 3,Brand Group 12,Country 19,Investment 4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-3.106529,-3.106529,0.000000,0.000000,0.000000,0.000000,-1.423826
5,Cluster 3,Brand Group 12,Country 19,Investment 6,-56.953036,-55.658648,-64.719359,-177.331042,-56.953036,-55.658648,...,-149.890034,-42.197022,-41.032073,-48.539519,-131.768614,-45.044674,-45.007720,-35.730998,-125.783392,-544.129325
6,Cluster 3,Brand Group 17,Country 19,Sales 1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cluster 3,Brand Group 17,Country 19,Sales 2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Cluster 3,Brand Group 17,Country 19,Investment 1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-6300.688431,-2123.312715,-1912.457045,-2342.970218,-6378.739977,-2114.899198,-2206.086863,-1968.091008,-6289.077068,-24996.207653
9,Cluster 3,Brand Group 17,Country 19,Investment 2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-7063.470791,-1790.266896,-1048.194731,-1904.690722,-4743.152348,-1511.585338,-1595.179450,-1041.791168,-4148.555956,-19825.655613

##  Sales1

In [16]:
df = df[df.columns.drop(list(df.filter(regex='Unnamed')))]
dfsales2=df.loc[df['Function'] == "Sales 2"]
dfsales2 = dfsales2[dfsales2.columns.drop(list(dfsales2.filter(regex='2018')))]
dfsales2=dfsales2.groupby(['Cluster','Brand Group']).agg('sum')
dfmelt=pd.melt(dfsales2.reset_index(), id_vars=["Cluster", "Brand Group"], 
                  var_name="Date", value_name="Value_Y")

In [17]:
dfmelt.head(5)

     Cluster     Brand Group      Date      Value_Y
0  Cluster 1  Brand Group 12  Jan 2012   616.408961
1  Cluster 1  Brand Group 13  Jan 2012    62.381470
2  Cluster 1  Brand Group 15  Jan 2012     0.000000
3  Cluster 1  Brand Group 16  Jan 2012  2457.695992
4  Cluster 1  Brand Group 17  Jan 2012     0.000000

## Sales 2

In [31]:
def add_lag_values(dfpre,lag,lagname):
    for i in range (len (dfpre)):
        if dfpre.iloc[i].Date_coded>12:
            dfpre.iloc[i,dfpre.columns.get_loc(lagname)]=dfpre[(dfpre["Cluster"]==dfpre.iloc[i].Cluster) 
                   & (dfpre["Brand Group"]==dfpre.iloc[i,dfpre.columns.get_loc("Brand Group")])
                                                                &(dfpre["Date_coded"]==dfpre.iloc[i].Date_coded-lag)]["Value_Y"].values[0]
    return dfpre

In [36]:
dictmonths=dict(zip(dfmelt["Date"].unique(),range(len(dfmelt["Date"].unique()))))
dfmelt["Date_coded"]=dfmelt["Date"].apply(lambda x: dictmonths[x])
dfmelt["Month"]=dfmelt["Date_coded"].apply(lambda x: x%12)
dfmelt["Actual"] = np.nan
dfmelt["Lag-1"] = np.nan
dfmelt["Lag-2"] = np.nan
dfmelt["Lag-3"] = np.nan

In [ ]:
dfpre=add_lag_values(dfmelt,1,'Actual')
dfpre=add_lag_values(dfmelt,2,'Lag-1')
dfpre=add_lag_values(dfpre,3,'Lag-2')
dfpre=add_lag_values(dfpre,4,'Lag-3')

In [ ]:
dfpre['Month']=dfpre['Month'].apply(lambda x: 11 if x == 0 else x-1)

In [ ]:
dfpre['sales_trend'] = dfpre['Actual']

lag_list=[1,2,3]

for lag in [1,2,3]:
    ft_name = ('Lag-%s' % lag)
    dfpre['sales_trend'] -= dfpre[ft_name]

dfpre['sales_trend'] /= len(lag_list) + 1

In [ ]:
dfpre.head(5)

In [ ]:
dfpre_sales['Date_coded']=dfpre_sales['Date_coded'].apply(lambda x: x-1)

In [ ]:
dfinves.head(5)

In [ ]:
dffinal=pd.merge(dfpre_sales,dfinves,
                 on=['Cluster','Brand Group','Date_coded'])

In [ ]:
dffinal.head(10)

In [3]:
dffinal=pd.read_pickle("./data/lags_invest.pkl")

In [4]:
yvalues =dffinal["Value_Y"]
xvalues = dffinal.drop(labels=['Value_Y'],axis=1)

In [710]:
from sklearn.preprocessing import StandardScaler
#sc = StandardScaler()
##sc.fit(xvalues[['Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']])
#xvalues[['Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']] =sc.transform(xvalues[['Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']])

In [5]:
X_train, X_valid, y_train, y_valid = train_test_split(xvalues, yvalues, test_size=0.2, shuffle=True)

In [712]:
xvalues.columns

Index(['Cluster', 'Brand Group', 'Date', 'Date_coded', 'Month', 'Actual',
       'Lag-1', 'Lag-2', 'Lag-3', 'sales_trend', 'Investment 1',
       'Investment 2', 'Investment 3', 'Investment 4', 'Investment 5',
       'Investment 6'],
      dtype='object')

In [7]:
X_train=X_train[['Month','Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']]
X_valid=X_valid[['Month','Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']]

In [8]:
from xgboost import XGBRegressor

ModuleNotFoundError: No module named 'xgboost'

In [9]:
model = XGBRegressor(
    max_depth=5,
    n_estimators=1000,
    min_child_weight=10, 
    colsample_bytree=0.5, 
    subsample=0.9, 
    eta=0.75,    
    seed=42)

model.fit(
    X_train, 
    y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, y_train), (X_valid, y_valid)], 
    verbose=True, 
    early_stopping_rounds = 30)

NameError: name 'XGBRegressor' is not defined

# Pred dataset

In [18]:
dfsales2=dfsales2.groupby(['Cluster','Brand Group']).agg('sum')

In [19]:
dfpred=pd.melt(dfsales2.reset_index(), id_vars=["Cluster", "Brand Group"], 
                  var_name="Date", value_name="Value")

In [20]:
dfindexes=dfpred=dfsales2.reset_index()[["Cluster","Brand Group"]]

In [21]:
# GET LABELSSSSSSSSSSSSSSSs

In [22]:
dfpred=dfsales2.reset_index()[["Sep 2017","Oct 2017","Nov 2017","Dec 2017"]]

In [25]:
dfpred["Month"]=11

In [27]:
dfpred.columns=["Lag-3","Lag-2","Lag-1","Actual","Month"]

In [28]:
dfpred['sales_trend'] = dfpred['Actual']

lag_list=[1,2,3]

for lag in [1,2,3]:
    ft_name = ('Lag-%s' % lag)
    dfpre['sales_trend'] -= dfpre[ft_name]

dfpre['sales_trend'] /= len(lag_list) + 1

NameError: name 'dfpre' is not defined

In [662]:
dfpred.head(5)

         Lag-3        Lag-2        Lag-1       Actual  Month  sales_trend
0  1608.715411  1538.061964  1574.399619  1381.174249     12  1381.174249
1     5.803457     5.608148     8.537778     6.361481     12     6.361481
2    35.634313   177.382970    48.785139  -265.362597     12  -265.362597
3   612.722539   535.401404   566.573007   539.184516     12   539.184516
4  2283.761079  2830.252855  2530.420686  2870.710849     12  2870.710849

In [663]:
#dfpred[['Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']] =sc.transform(dfpred[['Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']])

In [664]:
def add_values(pred_x, new_pred,month):
    pred_x['Month']=month
    
    pred_x["Lag-3"]=pred_x["Lag-2"]
    pred_x["Lag-2"]=pred_x["Lag-1"]
    pred_x["Lag-1"]=pred_x["Actual"]
    pred_x["Actual"]=new_pred
    pred_x['sales_trend'] = pred_x['Actual']
    lag_list=[1,2,3]

    for lag in [1,2,3]:
        ft_name = ('Lag-%s' % lag)
        pred_x['sales_trend'] -= pred_x[ft_name]

    pred_x['sales_trend'] /= len(lag_list) + 1
    
    return pred_x

In [665]:
list_predictions=[]

In [666]:
xpred=dfpred[['Month', 'Lag-1', 'Lag-2', 'Lag-3', 'Actual', 'sales_trend']]

In [667]:
for i in range(12):
    preds=model.predict(xpred)
    list_predictions.append(preds)
    xpred=add_values(xpred, preds,i)

In [668]:
len(list_predictions[0])

303

In [669]:
for d in range(len(list_predictions)):
    dfindexes['Month-%s' % d]=list_predictions[d]

In [670]:
dfindexes["Brand Group"].unique()

array(['Brand Group 12', 'Brand Group 13', 'Brand Group 15',
       'Brand Group 16', 'Brand Group 17', 'Brand Group 18',
       'Brand Group 19', 'Brand Group 24', 'Brand Group 25',
       'Brand Group 26', 'Brand Group 27', 'Brand Group 28',
       'Brand Group 30', 'Brand Group 31', 'Brand Group 36',
       'Brand Group 38', 'Brand Group 39', 'Brand Group 40',
       'Brand Group 41', 'Brand Group 43', 'Brand Group 44',
       'Brand Group 45', 'Brand Group 46', 'Brand Group 51',
       'Brand Group 58', 'Brand Group 63', 'Brand Group 70',
       'Brand Group 71', 'Brand Group 72', 'Brand Group 73',
       'Brand Group 76', 'Brand Group 78', 'Brand Group 79',
       'Brand Group 80', 'Brand Group 84', 'Brand Group 85',
       'Brand Group 87', 'Brand Group 89', 'Brand Group 90',
       'Brand Group 92', 'Brand Group 94', 'Brand Group 96',
       'Brand Group 97', 'Brand Group 20', 'Brand Group 98',
       'Brand Group 60', 'Brand Group 64', 'Brand Group 21'], dtype=object)

In [671]:
dfindexes

,Cluster,Brand Group,Month-0,Month-1,Month-2,Month-3,Month-4,Month-5,Month-6,Month-7,Month-8,Month-9,Month-10,Month-11
0,Cluster 1,Brand Group 12,1632.197632,1211.584351,1377.070679,1342.979492,1334.370850,1314.214111,1318.171875,1292.714355,1344.660767,1330.777466,1337.252075,1358.666138
1,Cluster 1,Brand Group 13,81.828377,5.216658,7.284895,7.227825,9.626293,6.860891,6.082820,5.639297,5.837836,3.032424,7.160820,9.652314
2,Cluster 1,Brand Group 15,-17.568844,-152.548080,-160.863312,-225.174866,-225.174866,-225.796204,-225.796204,-236.823608,-236.823608,-219.102570,-207.074249,-208.657043
3,Cluster 1,Brand Group 16,716.253052,497.814423,532.475098,572.096741,580.056580,582.576111,586.883728,505.316315,540.771851,578.422729,589.919495,580.464600
4,Cluster 1,Brand Group 17,2718.486084,2671.920166,2842.251221,2815.820068,2832.056885,2805.912842,2999.287842,2625.524414,2763.027832,2768.531006,2758.083740,2734.190674
5,Cluster 1,Brand Group 18,477.937714,200.379440,330.634918,323.064392,329.316345,334.898804,343.011444,286.582672,310.745758,319.004303,318.330994,329.414490
6,Cluster 1,Brand Group 19,1379.575562,745.721375,692.558777,660.516602,665.254578,671.182861,677.866089,664.225708,673.617432,683.509705,683.509705,676.470154
7,Cluster 1,Brand Group 24,1553.715942,1191.722290,1359.901611,1384.113281,1387.187500,1377.210449,1345.177979,1272.497070,1381.827881,1383.881226,1372.453857,1370.119263
8,Cluster 1,Brand Group 25,1569.044922,1171.419434,1240.051880,1177.973389,1181.991577,1181.991577,1208.736328,1113.591553,1216.955933,1202.696411,1192.226440,1227.549927
9,Cluster 1,Brand Group 26,2598.563721,2372.460449,2551.495361,2505.745850,2470.091064,2481.990234,2621.901367,2249.249268,2370.468750,2438.719482,2453.526123,2476.946045
10,Cluster 1,Brand Group 27,887.354858,460.587952,552.978943,506.907959,506.907959,515.590210,509.858582,470.971588,490.362579,521.110901,552.839417,543.523010
11,Cluster 1,Brand Group 28,-21.482485,-13.363050,4.871400,45.463402,22.472662,4.118977,3.173454,0.164894,20.964212,-34.646717,125.677490,83.795219
12,Cluster 1,Brand Group 30,4552.080078,4421.013672,4296.791016,4405.119141,4331.268555,4282.112793,4251.602051,3935.145020,4337.306152,4380.362793,4325.792969,4174.864746
13,Cluster 1,Brand Group 31,7116.239746,6100.656250,5581.078613,6010.841309,5942.516113,5942.516113,5913.042969,5353.269043,5997.954590,6087.854980,6020.196777,5934.350098
14,Cluster 1,Brand Group 36,1175.103149,855.817383,1043.664062,1071.382935,1072.976196,1097.596191,1152.524414,932.149963,1010.907715,1044.446411,1039.532349,1005.487122
15,Cluster 1,Brand Group 38,507.375671,78.384193,84.160881,87.854698,91.164696,88.342430,88.342430,87.982872,87.982872,92.658272,95.016701,94.133568
16,Cluster 1,Brand Group 39,912.185547,280.221588,315.362152,323.496674,329.748627,335.331085,342.463715,286.034973,312.177094,320.435638,319.762329,330.845825
17,Cluster 1,Brand Group 40,53.170750,48.021500,109.821526,50.128803,50.876251,50.876251,50.137157,47.377708,46.477837,43.906895,43.657295,46.928017
18,Cluster 1,Brand Group 41,5234.334961,4543.018555,4175.211914,4177.491211,4066.923340,4013.828857,4007.841553,3678.241943,4052.304932,4137.144043,4099.379395,3948.452148
19,Cluster 1,Brand Group 43,394.079346,43.950706,82.820938,165.594650,167.434753,165.263641,160.938843,156.495667,161.828979,164.141266,164.115799,167.128052
20,Cluster 1,Brand Group 44,1391.982422,768.695374,708.939148,628.457520,635.995300,641.923584,648.806580,640.408936,647.535706,657.427979,657.427979,644.954224
21,Cluster 1,Brand Group 45,2042.653809,1899.774414,2126.173340,2074.688232,2095.954834,2123.930664,2160.452148,1687.739990,1989.780884,2038.887573,2041.340576,2012.232422
22,Cluster 1,Brand Group 46,1444.394043,907.403687,1204.796387,1117.053467,1118.148315,1127.415649,1166.313110,1056.305908,1143.771851,1154.188721,1166.015259,1170.788940
23,Cluster 1,Brand Group 51,1372.612671,853.358643,767.081482,634.105774,641.643555,647.571838,654.454834,646.057129,653.183960,663.076233,663.076233,650.602478
24,Cluster 1,Brand Group 58,516.605469,1492.493042,1586.505859,1424.102539,1427.176758,1417.199707,1394.055786,1313.639893,1433.182617,1425.471069,1415.001099,1407.639160
25,Cluster 1,Brand Group 63,3.629364,74.302765,62.263485,3.304626,2.440773,3.319641,3.005712,2.986714,3.235194,0.941668,4.409253,4.509977
26,Cluster 1,Brand Group 70,2321.226318,2048.288086,2056.101562,2028.622803,2032.045532,2066.964355,2087.133789,1726.405762,1954.136108,2000.925415,2018.040771,1971.917847
27,Cluster 1,Brand Group 71,82.805077,50.391911,48.280094,48.743622,48.743622,44.402363,45.477901,43.191742,43.191742,49.540100,46.885628,45.686859
28,Cluster 1,Brand Group 72,511.782501,78.779442,166.830475,88.416939,94.863197,93.416435,93.416435,83.536278,84.620506,90.058327,85.523720,84.640602
29,Cluster 1,Brand Group 73,1546.396240,1607.820801,1733.222290,1619.873901,1655.721558,1653.638306,1649.269897,1617.726807,1662.259033,1730.348999,1732.945679,1742.623779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,Cluster 9,Brand Group 17,7952.491699,7575.229980,7883.096191,7816.595703,7816.595703,7775.362793,7884.224121,6473.979980,7440.950684,7440.950684,7434.444824,7415.418945
274,Cluster 9,Brand Group 19,148.047302,50.413139,52.585361,51.405701,52.153149,52.153149,51.414055,48.654606,47.754734,45.183792,44.934193,48.204914
275,Cluster 9,Brand Group 24,2012.383301,2255.069092,2416.448486,2409.007812,2378.969971,2397.797363,2523.156250,2183.857666,2274.868164,2330.505859,2349.511230,2336.788330
276,Cluster 9,Brand Group 25,804.149292,207.584503,162.755280,142.390182,144.230286,141.261749,141.261749,135.116287,138.702042,141.351181,145.086685,143.233765
277,Cluster 9,Brand Group 26,793.330688,391.419250,377.866241,349.568085,352.691559,361.132507,367.532532,307.922638,357.316498,360.922058,366.562988,373.334167
278,Cluster 9,Brand Group 27,612.151855,89.944237,110.261009,127.941475,128.643753,120.276833,116.836586,109.625114,112.440849,113.896217,123.364861,118.090523
279,Cluster 9,Brand Group 30,828.649719,194.883331,246.482483,246.060455,246.060455,231.143890,227.096298,213.873871,213.215088,224.178024,215.453537,215.453537
280,Cluster 9,Brand Group 31,8567.198242,9369.754883,10015.950195,9883.095703,9883.095703,9820.266602,10224.528320,8802.675781,9767.142578,10101.809570,10087.831055,10086.125000
281,Cluster 9,Brand Group 36,812.645020,601.667175,591.765198,606.824585,610.492310,610.492310,622.104126,587.285522,612.995605,612.313416,612.313416,612.313416
282,Cluster 9,Brand Group 38,133.939240,46.766762,61.692917,113.276398,111.647369,108.202660,107.134087,107.863983,121.945656,123.696037,116.892113,105.324615
283,Cluster 9,Brand Group 39,184.211151,12.229744,8.635412,8.306889,10.281675,6.256088,5.496972,4.677705,5.073120,5.012735,10.677339,13.502241
284,Cluster 9,Brand Group 41,13201.139648,17456.589844,17772.255859,18533.318359,18342.871094,18393.582031,18884.542969,17880.929688,18666.328125,18765.841797,18857.072266,18959.199219
285,Cluster 9,Brand Group 45,874.132935,634.362366,600.782410,608.860474,617.555420,617.555420,629.167297,599.720398,619.673401,618.991211,618.991211,618.991211
286,Cluster 9,Brand Group 46,2724.607666,2286.604492,2422.427979,2280.011963,2299.306152,2313.723633,2455.325439,2110.514160,2282.653809,2326.504639,2332.624512,2318.739014
287,Cluster 9,Brand Group 51,25.407732,39.184769,64.399734,79.712746,79.712746,77.450279,76.704918,75.594582,75.518517,78.661819,83.287231,82.088470
288,Cluster 9,Brand Group 58,457.210663,80.782982,91.116600,93.432167,98.490990,97.044212,97.044212,85.283821,86.368050,91.805870,86.652122,85.769005
289,Cluster 9,Brand Group 70,506.600861,84.834206,86.807549,87.854698,91.164696,88.342430,88.342430,87.982872,87.982872,92.658272,95.016701,94.133568
290,Cluster 9,Brand Group 71,508.099823,83.980873,89.188454,90.120293,93.430290,90.608025,90.608025,89.697334,89.697334,94.372734,96.731148,95.848030
291,Cluster 9,Brand Group 72,-37.987038,13.529207,1.801265,0.758840,0.362935,2.457463,1.611220,2.195691,1.005432,1.161713,2.495445,1.688962
292,Cluster 9,Brand Group 73,1842.459473,1909.128052,1906.066040,1929.096313,1944.268188,1965.627808,1960.814331,1729.643555,1895.201904,1930.645996,1932.539062,1834.532837
293,Cluster 9,Brand Group 76,933.971191,509.656860,533.143921,568.230896,577.289429,579.808960,584.116577,515.177734,550.633301,592.944763,604.441528,594.986633
294,Cluster 9,Brand Group 78,117.636169,16.644934,23.525324,20.743692,26.116388,27.936361,20.716425,20.716425,20.057920,23.988649,19.628914,17.697248
295,Cluster 9,Brand Group 79,33.372890,6.783325,9.182027,9.546727,11.945196,9.866565,9.088494,8.644970,8.843508,1.700687,7.036251,9.509102
296,Cluster 9,Brand Group 84,1645.336670,1310.641602,1489.018799,1445.872070,1456.734253,1437.186768,1467.734863,1399.162476,1470.434814,1467.016235,1483.317749,1506.505615
297,Cluster 9,Brand Group 87,1626.403931,1078.799683,1238.239624,1249.370728,1249.370728,1242.898193,1261.787842,1116.216553,1233.765259,1230.378662,1230.378662,1245.674438
298,Cluster 9,Brand Group 89,712.657288,137.806625,152.713303,136.289154,138.129257,130.340225,130.340225,119.718758,123.304497,126.122673,133.388260,129.421906
299,Cluster 9,Brand Group 90,1676.957031,1337.531860,1432.100586,1556.334595,1588.884277,1569.336792,1575.687988,1500.541016,1597.595825,1555.837769,1557.661499,1580.849365
300,Cluster 9,Brand Group 92,650.868896,118.702965,122.480904,142.549255,144.389359,136.600327,136.600327,127.647133,131.232834,132.275726,140.223419,136.257065
301,Cluster 9,Brand Group 96,783.186523,587.247375,661.614014,672.880310,677.618286,679.270996,685.954224,666.624512,676.016174,685.908386,685.908386,684.558228
302,Cluster 9,Brand Group 97,3435.422363,3538.018066,3669.224854,3462.930420,3473.864258,3478.619141,3635.083496,3176.226562,3573.335938,3656.747070,3692.758789,3672.706055

In [672]:
dfindexes.iloc[0][2:]

Month-0      1632.2
Month-1     1211.58
Month-2     1377.07
Month-3     1342.98
Month-4     1334.37
Month-5     1314.21
Month-6     1318.17
Month-7     1292.71
Month-8     1344.66
Month-9     1330.78
Month-10    1337.25
Month-11    1358.67
Name: 0, dtype: object

In [673]:
dir_submission_template = 'Data_Novartis_Datathon-Results_Challenge1_Template.csv'

submission_template = pd.read_csv(dir_submission_template)

bg_set = set()

#a = pd.DataFrame(final_res, columns=['Cluster', 'Brand Group', 'res'])

for i, r in submission_template.iterrows():
    bg = r['Brand Group'][12:].replace(',', '').split(' ')
    bg_set.update(bg)
    bg = [ 'Brand Group ' + str(i) for i in bg ]
    print(r['Cluster'], r['Brand Group'], bg)
    
#    print(type(r['res']))
    
    res = dfindexes[dfindexes['Cluster'] == r['Cluster']]
    res = [ rs[2:] for j, rs in res.iterrows() if rs['Brand Group'] in bg ]
#    res = res['res']
    res = np.sum(res, axis=0)
    submission_template.iloc[i, 2:] = res
    
    
for i, r in submission_template[submission_template['Brand Group'] == 'others'].iterrows():
    print(r.Cluster)
    
    res = dfindexes[dfindexes['Cluster'] == r['Cluster']]
    res1 = [ rs[2:] for j, rs in res.iterrows() if rs['Brand Group'][12:] not in bg_set ]

    res2 = np.sum(res1, axis=0)
    submission_template.iloc[i, 2:] = res2

Cluster 1 Brand Group 17 ['Brand Group 17']
Cluster 2 Brand Group 17 ['Brand Group 17']
Cluster 3 Brand Group 17 ['Brand Group 17']
Cluster 4 Brand Group 17 ['Brand Group 17']
Cluster 5 Brand Group 17 ['Brand Group 17']
Cluster 8 Brand Group 17 ['Brand Group 17']
Cluster 9 Brand Group 17 ['Brand Group 17']
Cluster 10 Brand Group 17 ['Brand Group 17']
Cluster 1 Brand Group 24 ['Brand Group 24']
Cluster 3 Brand Group 24 ['Brand Group 24']
Cluster 4 Brand Group 24 ['Brand Group 24']
Cluster 5 Brand Group 24 ['Brand Group 24']
Cluster 8 Brand Group 24 ['Brand Group 24']
Cluster 9 Brand Group 24 ['Brand Group 24']
Cluster 10 Brand Group 24 ['Brand Group 24']
Cluster 1 Brand Group 30 ['Brand Group 30']
Cluster 2 Brand Group 30 ['Brand Group 30']
Cluster 4 Brand Group 30 ['Brand Group 30']
Cluster 5 Brand Group 30 ['Brand Group 30']
Cluster 7 Brand Group 30 ['Brand Group 30']
Cluster 8 Brand Group 30 ['Brand Group 30']
Cluster 9 Brand Group 30 ['Brand Group 30']
Cluster 10 Brand Group 30 ['Brand Group 30']
Cluster 1 Brand Group 31 ['Brand Group 31']
Cluster 2 Brand Group 31 ['Brand Group 31']
Cluster 3 Brand Group 31 ['Brand Group 31']
Cluster 4 Brand Group 31 ['Brand Group 31']
Cluster 5 Brand Group 31 ['Brand Group 31']
Cluster 8 Brand Group 31 ['Brand Group 31']
Cluster 9 Brand Group 31 ['Brand Group 31']
Cluster 10 Brand Group 31 ['Brand Group 31']
Cluster 1 Brand Group 36 ['Brand Group 36']
Cluster 2 Brand Group 36 ['Brand Group 36']
Cluster 3 Brand Group 36 ['Brand Group 36']
Cluster 4 Brand Group 36 ['Brand Group 36']
Cluster 5 Brand Group 36 ['Brand Group 36']
Cluster 8 Brand Group 36 ['Brand Group 36']
Cluster 9 Brand Group 36 ['Brand Group 36']
Cluster 10 Brand Group 36 ['Brand Group 36']
Cluster 1 Brand Group 41 ['Brand Group 41']
Cluster 2 Brand Group 41 ['Brand Group 41']
Cluster 3 Brand Group 41 ['Brand Group 41']
Cluster 4 Brand Group 41 ['Brand Group 41']
Cluster 5 Brand Group 41 ['Brand Group 41']
Cluster 7 Brand Group 41 ['Brand Group 41']
Cluster 8 Brand Group 41 ['Brand Group 41']
Cluster 9 Brand Group 41 ['Brand Group 41']
Cluster 10 Brand Group 41 ['Brand Group 41']
Cluster 1 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 2 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 3 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 4 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 5 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 7 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 8 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 9 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 10 Brand Group 51, 73, 90 ['Brand Group 51', 'Brand Group 73', 'Brand Group 90']
Cluster 1 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 2 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 3 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 4 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 5 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 7 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 8 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 9 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 10 Brand Group 96 97 ['Brand Group 96', 'Brand Group 97']
Cluster 1 others ['Brand Group ']
Cluster 2 others ['Brand Group ']
Cluster 3 others ['Brand Group ']
Cluster 4 others ['Brand Group ']
Cluster 5 others ['Brand Group ']
Cluster 7 others ['Brand Group ']
Cluster 8 others ['Brand Group ']
Cluster 9 others ['Brand Group ']
Cluster 10 others ['Brand Group ']
Cluster 1
Cluster 2
Cluster 3
Cluster 4
Cluster 5
Cluster 7
Cluster 8
Cluster 9
Cluster 10

In [675]:
submission_template.to_csv("submission_2.csv",index=False)